<template>
    <div>
        <div class="container" v-if="formData.errors.length">
            Errors:
            <ul>
                <li v-for="(error, index) in formData.errors" :key="index">
                    {{error}}dd
                </li>
            </ul>
        </div>
        <div class="container" v-if="formData.structure.length">
            <form action="/download" method="post" target="_blank">
                <div class="form-row" v-for="(formSelect, index) in formData.structure" :key="index">
                    <div class="form-group col-md-6">
                        <label>{{formSelect.label}}</label>
                        <v-select :options="formSelect.items" v-model="selected[index]"
                                  :disabled="selectDisabled(index)"></v-select>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary" :disabled="!formValid">Submit</button>
                </div>
            </form>
        </div>
    </div>
</template>

<script>
    export default {
        name: "FormComponent",
        computed: {
            formData() {
                return JSON.parse(this.$store.getters.formData);
            },
            formValid: function () {
                if (this.selected.length != this.formData.structure.length) {
                    return false;
                }
                for (let index in this.selected) {
                    if (this.selected[index] == undefined) return false;
                }
                return true;
            }
        },
        data: function () {
            return {
                selected: [],
            };
        },
        methods: {
            selectDisabled: function (currentIndex) {
                if (currentIndex > this.selected.length) return true;
                for (let index in this.selected) {
                    if (index < currentIndex && this.selected[index] == undefined) {
                        return true;
                    }
                }
                return false;
            }
        },
        created() {
            console.log(this.formData);
        }
    }
</script>

<style scoped>

</style>
